body{
    background-color: rgba(255, 228, 196, 0.548);
}

h1{ 
    text-align: center;
    color: coral;
}

p{
    font-size: 20px;
    text-align: justify;
}

h2{
    color: coral;
}

li{
    line-height: 40px;
}

.imgHobbie{
    border-radius: 20px;
    height: 300px;
    margin: 20px;
}

.tabela{
    border: 2px solid;
    border-collapse: collapse;
    margin: 20px;
    padding: 10px;
    background-color: coral;
}

tr, th{
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    border: 2px solid;
    padding: 10px;
}

.site{
    margin: 20px;
}

a:hover{
    color: coral;
}

